$borderColor: rgba(255, 25, 0, 0.322);
$errorbg: rgba(192, 29, 29, 0.15);
$errorColor: #ef8d8dfa;

.alert-danger {
    border: 2px dotted $borderColor;
    border-radius: 0.8rem;
    padding: 1.3rem;
    padding: 1.3rem;
    background-color: $errorbg;
    color: $errorColor;
}

.alert-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        display: flex;
        // align-items: center;
    }
    span svg{
        margin-right: 0.8rem;
        
    }
}
p{
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 1.2rem;
}